<h2>about</h2>
<p>i write in my free time. usually about my experiences, sometimes about others'. if you want a taster, i recommend this <a href="https://petracorrino.substack.com/p/the-unbearable-lightness-of-seeing?s=w">blogpost</a>, or this twitter <a href="https://twitter.com/petracorrino/status/1497223804015231024?s=20&t=_oBZD4HO7KAZs4gVI00cng">thread</a> if you're short on time. i think sci-fi is literature. i am a <a href="https://en.wikipedia.org/wiki/Mahāvākyas">hindu</a>: i believe the old gods into existence. i also believe in the great and terrible beauty of progress, and seek narrative levers to communicate this. to me, these beliefs are inextricable, and are embodiments of the same <a href="https://en.wikipedia.org/wiki/Karma_yoga">dharmic prinicple</a>.</p>

<h2>links</h2>
<ul>
  <li><a href="https://petracorrino.substack.com">substack</a></li>
  <li><a href="https://twitter.com/petracorrino">twitter</a></li>
  <li><a href="mailto:petracorrino@gmail.com">email</a></li>
</ul>

<p>thank you for being here with me, and taking the time to read this. have a wonderful day/restful sleep.

<hr />
